<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Danh sách người dùng</title>
</head>
<body>
    <h1>Danh sách người dùng</h1>
    <a href="http://localhost:3000/add">add</a>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Tên</th>
                <th>Email</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            <% for(let i = 0; i < users.length; i++) { %>
                <tr>
                    <td><%= users[i].id %></td>
                    <td><%= users[i].name %></td>
                    <td><%= users[i].email %></td>
                    <td>
                        <a href="/edit/<%= users[i].id %>">Sửa</a>
                        <form action="/delete/<%= users[i].id %>" method="post" style="display:inline;">
                            <button type="submit">Xóa</button>
                        </form>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
</body>
</html>
